#contenedor_cambio_pass
{
	width:90%;
	margin:0 auto;
}

#form_pass
{
	width:100%;
	background:transparent;
	border:none;
	box-shadow:none;	
}

#volver_pass
{	
	cursor:pointer;
	font-size:120%;
	width:20%;
	margin-left:40% !important;
	margin:0 auto;
	height:40px;
	color:white;
	text-shadow:none;
}