#cabecera
{
	height:100px;
	margin:0 100px;
}

.menu_superior_derecha
{
	float:right;
	clear:both;
}

.flotarDerecha
{
	float:right;	
}

.logout
{
	background:#F55;
	width:100px;
	height:40px;
	font-size:25px;
	font-weight:bold;
	cursor:pointer;
	border:none;
	border-radius:10px;
}

.logout:hover
{
	background:#F11;	
}

/*
	=========ESTILOS TITULOS===========
*/

.titulo-grande
{
	font-size:30px;
	color:black;
	font-weight:bold;		
}

.titulo-mediano
{
	font-size:24px;
	color:black;
	font-weight:bold;		
}

.titulo-peque
{
	font-size:18px;
	color:black;
	font-weight:bold;		
}

/*
	=========ESTILOS IMC===========
*/

#contenedorImc
{
	width:90%;
	height:100px;
	margin:0 auto;	
}

.botonera
{
	width:310px;
	margin:10px auto;
}

.boton-imc
{
	width:100px;
	margin:0px;
	min-width:30px;
}

#rejillaImc
{	
	margin-top:100px;
	margin:0 auto;
	width:100%;
	clear:both;
}

table
{
	border-collapse: collapse;
	border:solid 1px black;
}

#listadoImcGeneral
{	
	margin:0 auto;
	width:80%;	
	
}

#listadoImcGeneral th
{
	width:14%;
	text-align:center;
	border-collapse: collapse;
	border:solid 1px black;
	font-weight:bold;
}

#listadoImcGeneral td
{
	width:14%;
	text-align:center;
	border-collapse: collapse;
	border:solid 1px black;
}

#listadoImcGeneral tr:nth-child(even)
{
	background-color:#AADDFF;
}

.abrirCell
{
	cursor:pointer;
}

.cursor_pointer
{
	cursor:pointer;
}



