body {
	width:95%;
	font-family:Helvetica,arial;
	background: #EEE; 
    font-size:14px; 
	background: rgb(219,219,231);
  -webkit-font-smoothing: antialiased;
    color:rgb(35,35,35);
}

@media (max-width: 300px) {
    body { font-size: 11px;}
}

@media (min-width: 500px) {
    body { font-size: 12px; }
}

@media (min-width: 700px) {
    body { font-size: 13px; }
}

@media (min-width: 1200px) {
    body { font-size: 14px; }
}

#cabecera
{
	width:90%;
	height:100px;
	margin:0 100px;
	margin-bottom:50px;
	position:relative;
	display:block;
}

img
{
	cursor:pointer;
}

footer
{
	height:50px;
}

.titulo-aplicacion
{
	font-size:200%;
	color:rgb(35,144,139);
}

.flotarDerecha
{
	float:right;	
}

.logoapp
{
	width:50px;
}

#logout
{
	/*
	position:absolute;
	top:1%;
	right:1%;
	*/
	float:right;
	cursor:pointer;
	margin-top:1%;
}

.logout
{
	cursor:pointer;
}

ul
{
	list-style-type:none;
}

a
{
	text-decoration:none;
}


.textoSmallCaps
{
	font-size:120%;
	vertical-align: middle;
	font-variant: small-caps;
}

/*
	=========ESTILOS TITULOS===========
*/

h1,h2,h3,h4,h5,h6,h7
{
	margin-bottom:1vw;
}

.titulo-grande
{
	font-size:180%;
	color:black;
	font-weight:bold;		
}

.titulo-grande-80-20
{
	height:20%;
	/*font-size:1.5em;*/
	color:black;
	font-weight:bold;	
	margin-bottom:0;	
}

.titulo-mediano
{
	font-size:130%;
	color:black;
	font-weight:bold;
}

.titulo-peque
{
	font-size:110%;
	color:black;
	font-weight:bold;		
}

.buttonGenerico {
  background: rgb(35,144,139);
  text-shadow: 1px 1px 0 rgba(39,110,160);
  border-radius:10px;
}

.buttonGenericoPeque {
  position: relative;
  display: inline-block;
  padding: 0.2em 0.1em;
  margin: 0 0 0 0;
  width: 30%;  
  height:100%;
  vertical-align: middle;
  color: #fff;
  font-size: 100%;
  line-height: 14px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border-bottom: 2px solid rgba(39,110,160);
  cursor: pointer;
  -webkit-transition:all 0.15s ease;
  transition: all 0.15s ease;
  border-radius:2px;
  background: rgb(35,144,139);
  text-shadow: 1px 1px 0 rgba(39,110,160);
  border-radius:5px;
}
.buttonGenericoPeque:focus { outline: 0; }


.buttonGenericoPeque:hover 
{ 
	background: rgb(15,124,119); 
}

/*
	=========BOTON VOLVER===========
*/

.abrirCell,.cursor_pointer
{
	cursor:pointer;
}

/*
.volver
{
	position:fixed;
	top:120px;
	left:100px;
}
*/

/*
	=========ESTILOS IMC===========
*/


/*
#contenedorImc
{
	width:90%;
	height:100px;
	margin:0 auto;	
}

.botonera
{
	width:310px;
	margin:10px auto;
}

.boton-imc
{
	width:100px;
	margin:0px;
	min-width:30px;
}

.paleta_color
{
	width:20px;
	height:20px;
	background-color:red;
}

#rejillaImc
{	
	margin-top:100px;
	margin:0 auto;
	width:100%;
	clear:both;
}

table
{
	border-collapse: collapse;
	//border:solid 1px black;
}

#listadoImcGeneral
{	
	margin:0 auto;
	width:80%;	
	
}

#listadoImcGeneral th
{
	width:14%;
	text-align:center;
	border-collapse: collapse;
	border:solid 1px black;
	font-weight:bold;
}

#listadoImcGeneral td
{
	width:14%;
	text-align:center;
	border-collapse: collapse;
	border:solid 1px black;
}

#listadoImcGeneral tr:nth-child(even)
{
	background-color:#AADDFF;
}

.abrirCell
{
	cursor:pointer;
}

.cursor_pointer
{
	cursor:pointer;
}
*/

/*
	=========ESTILOS IMC MENSUAL===========
*/
/*
#imc_mensual
{
	width:80%;
	margin:0 auto;
}


#imc_mensual table
{
    border-collapse: collapse;
}
#imc_mensual td,th
{
    width: 20px;
    min-width: 20px;
    padding: 0px;
    text-align: center;
    border-collapse: collapse;
    border:solid black 1px;
    vertical-align:middle;
}

#titulo_comentarios
{
	width:250px;
}

#imc_mensual .comentarios
{
	width:250px;
	height:45px;
	padding:0px;
}

#imc_mensual .comentarios textarea
{
	width:250px;
	height:45px;
	margin:0px;	
	border:none;
	resize:none;
}

#imc_mensual div
{
    margin:0;
    padding:0;
}


#imc_mensual #inferior
{
    margin:50px auto;
    clear: both;
    float: left;
}
#imc_mensual #id_horas
{
    width: 30px;
}

#imc_mensual .input_horas
{
    margin:0;
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    text-align: center;    
}

*/

/*TRAMPA PARA HACER BORDER TRANSPARENTE PORQUE NO SE QUITABA*/
/*
#imc_mensual .borde_invisible
{
	border:1px rgba(0,0,0,0) solid;
}

#imc_mensual .no_fondo
{
	background-color:"#FFF";
}

#imc_mensual .festivo 
{
	background-color:#F33 !important;
}

#imc_mensual .especial .input_horas
{
	background-color:moccasin;
}

#imc_mensual .especial .color_proy
{
	background-color:moccasin;
}
#imc_mensual .especial .celda-color
{
	background-color:moccasin;
}

#imc_mensual .interno .input_horas
{
	background-color:lime;
}

#imc_mensual .interno .color_proy
{
	background-color:lime;
}

#imc_mensual .interno .celda-color
{
	background-color:lime;
}



#imc_mensual .externo .input_horas
{
	background-color:lightblue;
}

#imc_mensual .externo .color_proy
{
	background-color:lightblue;
}

#imc_mensual .externo .celda-color
{
	background-color:lightblue;
}

*/
