#enviando
{
	width:30%;
	height:30%;
	background-color: rgba(0,0,0,0.7);
	position: fixed;
	top:35%;
	left:35%;
	border-radius:15px;
	display: none;
}

#enviando p
{
	position:absolute;
	top:60%;
	left:50%;
	color:white;
	font-weight:bold;
}

.colorErrorCelda
{
	background-color:rgb(255, 119, 119) !important;
}

#div-volver
{
	width:10%;
	display:inline-block;	
}

#imagen-volver
{
	width:40%;	
}

#titulo-pagina
{
	display:inline-block;
	margin:0 auto;
	margin-left:5%;
	width:70%;	
}

#titulo-pagina-segundo
{
	display:inline-block;	
	width:70%;	
	margin-left:15%;
}


#contenedorHojaGastos
{
	width:80%;
	margin:0 auto;
}

.contenedor_select_30
{	
	display:inline-block;
	width:40%;
	min-width:160px;
}

#superior
{
	padding-top:5%;
	position:relative;
}

#enviar_gastos
{	
	margin-left: 35%;
}

#parrafo_sin_gastos
{
	margin-top:5%;
	display:none;
}

/*
	=========ESTILOS TABLAS MENSUAL===========
*/
.tabla_key
{
	width:85%;
	margin:0 auto;
}


.tabla_key table
{
    border-collapse: collapse;
    box-sizing: border-box;
}
.tabla_key th
{
    width: 20px;
    padding: 1% 1%;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    background:#EFEFEF;
    cursor:default;
	font-size:90%;
	font-weight:bold;
}

.tabla_key td
{
    width: 20px;
    /*min-width: 20px;*/
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    background:#EFEFEF;
    
}

.tabla_key input
{
	background:#EFEFEF;	
}

.tabla_key select
{
	background:#EFEFEF;	
}



.tabla_key .descripcion_gasto
{
	
	box-sizing: border-box;
	height:30px;
	padding:0px;
	border-collapse: collapse;
	
	
}

.tabla_key  textarea
{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border:none;
	margin:0px;	
	resize:none;
	background:#EFEFEF;
	color:#000;
	font-size:90%;
	font-family:arial;
	vertical-align:middle;
}

.tabla_key .comentario_rechazo
{
	
	box-sizing: border-box;
	height:40px;
	padding:0px;
	border-collapse: collapse;
	/*border:solid 1px #AAA;*/
	position:relative;
	color:#000;
	font-size:90%;
	font-family:arial;
	vertical-align:middle;
	
}



/*===========*/



.tabla_key 
{
	width:100%;
    margin:5px auto;
}

#totales_gastos
{
	width:60%;
	margin:0px;	
}

#totales_gastos td
{
	padding:0.2em 0;
}

/*========ANCHOS TABLAS======*/

/*	 PARA QUITAR LA FLECHA DEL SELECT EN FIREFOX	*/
#tabla_gastos_pendientes_mes select
{
	/*
	color:red;
	-moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';	
    */
}




#tabla_gastos_pendientes_mes .id_proyecto_titulo
{
    width:14%;
}

#tabla_gastos_pendientes_mes .tipo_gasto_titulo
{
    width:17%;
}

#tabla_gastos_pendientes_mes .fecha_gasto_titulo
{
    width:14%;
}

#tabla_gastos_pendientes_mes .valor_gasto_titulo
{
    width:10%;
}

#tabla_gastos_pendientes_mes .descripcion_gasto_titulo
{
    width:45%;
}

#tabla_gastos_todos_mes
{
	opacity:0.85;
}

#tabla_gastos_todos_mes #id_proyecto_titulo
{
    width:10%;
}

#tabla_gastos_todos_mes #tipo_gasto_titulo
{
    width:7%;
}

#tabla_gastos_todos_mes #fecha_gasto_titulo
{
    width:12%;
}

#tabla_gastos_todos_mes #valor_gasto_titulo
{
    width:8%;
}

#tabla_gastos_todos_mes #aut1_titulo
{
    width:8%;
}

#tabla_gastos_todos_mes #aut2_titulo
{
    width:8%;
}

#tabla_gastos_todos_mes #descripcion_titulo
{
    width:24%;
}

#tabla_gastos_todos_mes #rechazo_titulo
{
    width:24%;
}


.tabla_key select
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

.tabla_key .input_datos
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

#div_agregar_fila
{
	display: inline-block;	
	cursor:pointer;
	width:35%;
	margin-bottom:5px;
}

#div_agregar_fila img
{
	display: inline-block;	
}

#div_agregar_fila p
{
	display: inline-block;	
	font-weight:bold;
}


.imagen_agregar_fila
{
	width: 15px;
	display: inline-block;
	margin-right:1%;
}

.eliminar_fila
{
	width:15px;
	margin-left:10%;
}



/*TRAMPA PARA HACER BORDER TRANSPARENTE PORQUE NO SE QUITABA*/

.tabla_key .borde_invisible
{
	border:1px rgba(0,0,0,0) solid;
}

.tabla_key .no_fondo
{
	background-color:rgba(0,0,0,0);
}



/*QUITAR ESTILO BORDES TABLA ARRIBA,ABAJO,IZQUIERDA,DERECHA*/

.tabla_key th
{
	padding:1% 1%;
	border-top:none;
	/*background: RGB(35,200,200);*/
	background: #22C5B1;
	
}

.tabla_key td
{
	font-size:100%;
}



.tabla_key tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

.tabla_key tr td:first-child
{
	border-left:none;
	cursor:default;	
}

.tabla_key tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

.tabla_key tr td:last-child
{
	border-right: none;	
}

.tabla_key tr td:nth-last-child(2)
{
	border-right: none;	
}

.tabla_key tr:last-child td
{
	border-bottom:none;	
}

.tabla_key tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

.tabla_key tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}

.tabla_key .comentarios
{
	border-right:none;
	padding:0;
}






.ui-datepicker {
	background-color: #fff;
	border: 1px solid #66AFE9;
	border-radius: 4px;
	box-shadow: 0 0 8px rgba(102,175,233,.6);
	display: none;
	margin-top: 4px;
	padding: 10px;
	width: 240px;
}
.ui-datepicker a,
.ui-datepicker a:hover {
	text-decoration: none;
	color: #23908B;
	font-weight:bold;
}
.ui-datepicker a:hover,
.ui-datepicker td:hover a {
	color: #2A6496;
	-webkit-transition: color 0.1s ease-in-out;
	   -moz-transition: color 0.1s ease-in-out;
	     -o-transition: color 0.1s ease-in-out;
	        transition: color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-header {
	margin-bottom: 4px;
	text-align: center;
}
.ui-datepicker .ui-datepicker-title {
	font-weight: 700;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
	cursor: default;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	height: 20px;
	line-height: 1;
	margin-top: 2px;
	width: 30px;
	color:transparent;
}



.ui-datepicker .ui-icon-circle-triangle-w {
	background-image: url(images/arrow-back.png);
	background-size:15px 15px;
	background-repeat:no-repeat;
	background-position:10px 0;
}

.ui-datepicker .ui-icon-circle-triangle-e {
	background-image: url(images/arrow-next.png);
	background-size:15px 15px;
	background-repeat:no-repeat;
}



.ui-datepicker .ui-datepicker-prev {
	float: left;
	text-align: left;
}
.ui-datepicker .ui-datepicker-next {
	float: right;
	text-align: right;
}
.ui-datepicker .ui-datepicker-prev:before {
	/*content: "\e079";*/
}
.ui-datepicker .ui-datepicker-next:before {
	/*content: "\e080";*/
}

.ui-datepicker .ui-icon {
	width:1px;
	height:1px;	
	color:transparent;
	/*
	background-image:url(http://localhost/appSOL/assets/img/cross.png) !important;
	background-size:11px 11px;
	background-repeat:no-repeat;
	width:5px;
	height:5px;	
	display: none;
	*/
	color:transparent;
}

.ui-datepicker .ui-datepicker-calendar {
  table-layout: fixed;
	width: 100%;
}
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td {
	text-align: center;
	padding: 4px 0;
}
.ui-datepicker .ui-datepicker-calendar td {
	border-radius: 4px;
	-webkit-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}
.ui-datepicker .ui-datepicker-calendar td:hover {
	background-color: #eee;
	cursor: pointer;
}
.ui-datepicker .ui-datepicker-calendar td a {
	text-decoration: none;
}
.ui-datepicker .ui-datepicker-current-day {
	background-color: #23C8C8;
}
.ui-datepicker .ui-datepicker-current-day a {
	color: #fff
}
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover {
	background-color: #fff;
	cursor: default;
}








