
#contenedorHojaGastos
{
	width:80%;
	margin:0 auto;
}

.contenedor_select_30
{	
	display:inline-block;
	width:40%;
	min-width:160px;
}

#superior
{
	position:relative;
}

#enviar_gastos
{
	/*position:absolute;*/
	margin-left: 65%;
}

/*
	=========ESTILOS TABLAS MENSUAL===========
*/
.tabla_key
{
	width:85%;
	margin:0 auto;
}


.tabla_key table
{
    border-collapse: collapse;
}
.tabla_key th
{
    width: 20px;
    /*min-width: 20px;*/
    padding: 0.2em 0;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    background:#EFEFEF;
}

.tabla_key td
{
    width: 20px;
    /*min-width: 20px;*/
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    background:#EFEFEF;
}

.tabla_key input
{
	background:#EFEFEF;	
}

.tabla_key select
{
	background:#EFEFEF;	
}



.tabla_key .descripcion_gasto
{
	width:250px;
	height:40px;
	padding:0px;
	border:solid 1px #AAA;
}

.tabla_key  textarea
{
	width: 100%;
	height: 100%;
	border:none;
	margin:0px;	
	resize:none;
	background:#EFEFEF;
}

/*===========*/



.tabla_key 
{
	width:100%;
    margin:10px auto;
}

#totales_gastos
{
	width:60%;
	margin:10px;	
}

#totales_gastos td
{
	padding:0.2em 0;
}

#tabla_gastos_pendientes_mes .id_proyecto_titulo
{
    width:14%;
}

#tabla_gastos_pendientes_mes .tipo_gasto_titulo
{
    width:17%;
}

#tabla_gastos_pendientes_mes .fecha_gasto_titulo
{
    width:14%;
}

#tabla_gastos_pendientes_mes .valor_gasto_titulo
{
    width:10%;
}

#tabla_gastos_pendientes_mes .descripcion_gasto_titulo
{
    width:45%;
}

.tabla_key select
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

.tabla_key .input_datos
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

#div_agregar_fila
{
	display: inline-block;	
	cursor:pointer;
}

#div_agregar_fila p,img
{
	display: inline-block;	
}


.imagen_agregar_fila
{
	width: 15px;
	display: inline-block;
}

.eliminar_fila
{
	width:15px;
}



/*TRAMPA PARA HACER BORDER TRANSPARENTE PORQUE NO SE QUITABA*/

.tabla_key .borde_invisible
{
	border:1px rgba(0,0,0,0) solid;
}

.tabla_key .no_fondo
{
	background-color:rgba(0,0,0,0);
}



/*QUITAR ESTILO BORDES TABLA ARRIBA,ABAJO,IZQUIERDA,DERECHA*/

.tabla_key th
{
	border-top:none;
	background: RGB(35,200,200);
	cursor:default;
	font-size:100%;
}

.tabla_key td
{
	font-size:100%;
}



.tabla_key tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

.tabla_key tr td:first-child
{
	border-left:none;
	cursor:default;	
}

.tabla_key tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

.tabla_key tr td:last-child
{
	border-right: none;	
}

.tabla_key tr td:nth-last-child(2)
{
	border-right: none;	
}

.tabla_key tr:last-child td
{
	border-bottom:none;	
}

.tabla_key tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

.tabla_key tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}

.tabla_key .comentarios
{
	border-right:none;
	padding:0;
}





/*
	========ESTILO TABLA TOTALES
*/
/*

tabla_key
{
	margin-top:20px;
	float:right;
}

tabla_key table
{
    border-collapse: collapse;
}
tabla_key td
{
    width: 60px;
    height:25px;
    min-width: 20px;
    max-width: 120px;
    overflow:hidden;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    
}

tabla_key th
{
	border-top:none;
	background: RGB(35,200,200);
	cursor:default;
}

tabla_key tr:last-child td
{
	border-bottom:none;
	background: #FFF;
	cursor:default;
}

tabla_key tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

tabla_key tr td:first-child
{
	border-left:none;
	cursor:default;	
}

tabla_key tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

tabla_key tr td:last-child
{
	border-right:none;	
}



tabla_key tr td:last-child-1
{
	border-right:none;	
}

tabla_key tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

tabla_key tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}




*/












