#enviando
{
	width:30%;
	height:30%;
	background-color: rgba(0,0,0,0.7);
	position:absolute;
	top:35%;
	left:35%;
	border-radius:15px;
	display: none;
}

#enviando p
{
	position:absolute;
	top:60%;
	left:50%;
	color:white;
	font-weight:bold;
}


.casillaActiva
{
	font-size:130% !important;
	font-weight:bold;
}

.colorErrorCelda
{
	background-color:rgb(255, 119, 119) !important;
}


#div-volver
{
	width:10%;
	display:inline-block;	
}

#imagen-volver
{
	width:40%;	
}

#titulo-pagina
{
	display:inline-block;
	margin:0 auto;
	margin-left:5%;
	width:70%;	
}


.display_none
{
	display:none !important;		
}

#superior
{
	width:100%;
	margin:3% auto;	
	/*border:solid green 1px;*/
	position:relative;
}

#superior_izquierda
{
	/*border:solid blue 1px;*/
	width:40%;
	margin:0;	
	visibility:hidden;
}

#agregar_proyecto
{
	width:60%;
}

#superior_derecha
{
	/*border:solid blue 1px;*/
	width:50%;
	margin-left:50%;
	position:absolute;
	bottom:0;
	
}


/*TEXTOS AYUDA PROYECTOS*/






#sombra
{
	background-color:rgba(0,0,0,0.5);
	position:absolute;
	top:0;
	left:0;
	z-index:888;
}

.dialog {
padding:1% 0%;
background-color:#EFEFEF;
width:80%;
height:80%;
top: 10%;
left: 10%;
position:absolute;
z-index:999;
border-radius:15px;
/*display:none;*/
}

.titulo_ayuda
{
	width:60%;	
	margin:0 auto;
}

.imagen_cierre_popup
{
	width:2%;
	position:absolute;
	right:5%;
	top:5%;
	
}

.texto_ayuda
{
	width:95%;
	margin-left:2.5%;
	padding-top:2%;
	font-size:180%;
	height:85%;
	position:absolute;
	bottom:2%;
	overflow: auto;
}

@media (max-width: 500px) {
    .texto_ayuda { font-size: 100%;}
}


@media (min-width: 500px) {
    .texto_ayuda  { font-size: 100%; }
}

@media (min-width: 600px) {
    .texto_ayuda  { font-size: 100%; }
}

@media (min-width: 700px) {
    .texto_ayuda  { font-size: 100%; }
}


.texto_ayuda p
{
	margin-top:3%;
	font-weight:400;
}

.dialog .negrita
{
	font-weight:bold;
}

.dialog ul
{
    list-style-type: lower-alpha;
}

.dialog li
{
    margin:5px 0;
    margin-left:5%;
}




#totales_imc
{
	width:80%;
	margin:5% auto;
	/*margin-top:20px;/*
	/*float:right;*/
}

.contenedor_select_35
{	
	display:inline-block;
	width:80%;
	margin-bottom:3%;
}



#enviar_imc
{
	width:50%;
	margin:0 auto;
	margin-left:25%;
	visibility:hidden;
}

/*
	=========ESTILOS IMC MENSUAL===========
*/
#imc_mensual
{
	width:80%;
	margin:0 auto;
}





#imc_mensual table
{
    border-collapse: collapse;
}
#imc_mensual th
{
    width: 2%;
    min-width: 2%;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
}

#imc_mensual td
{
    width: 2%;
    min-width: 2%;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
}

#titulo_comentarios
{
	width:250px;
}

#imc_mensual .comentarios
{
	width:20%;
	/*height:30px;*/
	padding:0px;
}

#imc_mensual .comentarios textarea
{
	width:98%;
	margin:0px;	
	border:none;
	resize:none;
	color:#000;
	font-size:90%;
	font-family:arial;
	vertical-align:middle;
}




/*===========*/

.textareaGrande
{
	height:80px !important;	
}


/*
#imc_mensual div
{
    margin:0;
    padding:0;
}
*/

#ayuda_proyectos
{
	width:90%;
	margin:0 auto;
	display:inline-block;
}



/*
.contenedor_ayuda
{
	font-size:16px;
	line-height:30px;
	font-weight:bold;
	width:32%;
	height:30px;
	margin:0px;
	min-width:30px;
	border:solid 1px red;
	display:inline-block;
	padding-left:40px;
	
}
*/


.contenedor_ayuda
{
	display:inline-block;
	width:30%;
	margin:0 0;
	height:100%;
	position:relative;
	min-width:120px;
	
}

.contenedor_ayuda img
{
	border-radius:12px;
	display:inline-block;
	width: 10%;	
    height: auto;
    margin: 0;
    padding:0;	
    position:absolute;
    bottom:0;
    left:0;
}

.contenedor_ayuda p
{		
	display:inline-block;
	font-size:100%;
	line-height:16px;
	font-weight:bold;
    width: 85%;
    height: auto;
    margin: 0;
    padding:0;
    padding-left:10px;
    position:absolute;
    bottom:0;
    right:0;
		
}
/*SELECCIONA LA IMAGEN QUE SEA HIJO DIRECTO DE INTERNO*/
.interno>img
{
	background-color:rgb(200,230,230);
}

.externo>img
{
	background-color:lightblue;
}

.especial>img
{
	background-color:rgb(28,170,216);
}

/*
.muestra_color
{
	height: 30px; can be anything
    width: 30px; can be anything
    position: relative;
    margin:0;
    display:block;
}



.muestra_color img
{
	max-height: 75%;  
    max-width: 75%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

*/

#imc_mensual #tabla_imc #titulo_cod_proyecto
{
	width:15%;
}

#imc_mensual #inferior
{
    margin:20px auto;
}

#imc_mensual #id_horas
{
    width: 30px;
}

#imc_mensual .input_horas
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

#imc_mensual .total_horas_imc
{
	cursor:default;
}

.eliminar_fila
{
	width:15px;
}



/*TRAMPA PARA HACER BORDER TRANSPARENTE PORQUE NO SE QUITABA*/

#imc_mensual .borde_invisible
{
	border:1px rgba(0,0,0,0) solid;
}

#imc_mensual .no_fondo
{
	background-color:"#FFF";
}

#imc_mensual .festivo 
{
	background-color:#999 !important;
}

#imc_mensual .especial .input_horas
{
	background-color:rgb(28,170,216);
}

#imc_mensual .especial .color_proy
{
	background-color:rgb(28,170,216);
}
#imc_mensual .especial .celda-color
{
	background-color: rgb(28,170,216);
}

#imc_mensual .interno .input_horas
{
	background-color: rgb(200,230,230);
}

#imc_mensual .interno .color_proy
{
	background-color: rgb(200,230,230);
}

#imc_mensual .interno .celda-color
{
	background-color: rgb(200,230,230);
}



#imc_mensual .externo .input_horas
{
	background-color:lightblue;
}

#imc_mensual .externo .color_proy
{
	background-color:lightblue;
}

#imc_mensual .externo .celda-color
{
	background-color:lightblue;
}





/*QUITAR ESTILO BORDES TABLA ARRIBA,ABAJO,IZQUIERDA,DERECHA*/

#tabla_imc th
{
	border-top:none;
	/*background: RGB(35,200,200);*/
	background: #22C5B1;
	cursor:default;
	font-size:100%;
}

#tabla_imc td
{
	font-size:100%;
}

#tabla_imc tr:last-child td
{
	border-bottom:none;
	/*background: RGB(35,200,200);*/
	background: #22C5B1;
	cursor:default;
}

#tabla_imc tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
	padding:3px;
}

#tabla_imc tr td:first-child
{
	border-left:none;
	cursor:default;	
	padding:3px;
}

#tabla_imc tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

#tabla_imc tr td:last-child
{
	border-right:none;	
}

#tabla_imc .fila-datos td:nth-last-child(2)
{
	background-color:#FFF;
}

#tabla_imc tr td:last-child-1
{
	border-right:none;	
}

#tabla_imc tr:nth-last-child(2) td.comentarios
{
	border-bottom: none !important;	
}

#tabla_imc tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

#tabla_imc tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}

#tabla_imc .comentarios
{
	border-right:none;
	padding:0;
}

#tabla_imc th
{
	padding:0.85% 0;
}

#tabla_imc tr:last-child td
{
	padding:0.85% 0;
}


/*
	========ESTILO TABLA TOTALES
*/



#totales_imc table
{
    border-collapse: collapse;
}
#totales_imc td, #totales_imc th
{
    width: 120px;
    height:25px;
    min-width: 20px;
    max-width: 120px;
    overflow:hidden;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;    
}

#totales_imc th
{
	border-top:none;
	/*background: RGB(35,200,200);*/
	background: #22C5B1;
	cursor:default;
}

#totales_imc tr:last-child td
{
	border-bottom:none;
	background: #EFEFEF;
	cursor:default;
}

#totales_imc tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

#totales_imc tr td:first-child
{
	border-left:none;
	cursor:default;	
}

#totales_imc tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

#totales_imc tr td:last-child
{
	border-right:none;	
}



#totales_imc tr td:last-child-1
{
	border-right:none;	
}

#totales_imc tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

#totales_imc tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}




/*TABLA PERMISOS*/


#tabla_permisos
{
	opacity:0.80;
}

#tabla_permisos .permisos 
{
	background-color: white;
}

#tabla_permisos .permisos input
{
	background-color: white;
}

#tabla_permisos th
{
	border-top:none;
	/*background: RGB(35,200,200);*/
	background: #22C5B1;
	cursor:default;	
	
	padding:0.85% 0;	
}

#tabla_permisos td
{
	cursor:default;
	color:#000;
}

#tabla_permisos td input
{
	cursor:default;
	color:#000;
}


#tabla_permisos .input_horas_permisos
{
    margin:0;
    padding: 20% 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}


#tabla_permisos tr:last-child td
{
	border-bottom:none;
	/*background: #EFEFEF;*/
	cursor:default;
}

#tabla_permisos tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

#tabla_permisos tr td:first-child
{
	border-left:none;
	cursor:default;	
}

#tabla_permisos tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

#tabla_permisos tr td:last-child
{
	border-right:none;	
}


#tabla_permisos tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

#tabla_permisos tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}



