
.contenedor_select_35
{	
	display:inline-block;
	width:40%;
	min-width:160px;
}

/*
	=========ESTILOS IMC MENSUAL===========
*/
#imc_mensual
{
	width:80%;
	margin:0 auto;
}


#imc_mensual table
{
    border-collapse: collapse;
}
#imc_mensual td,th
{
    width: 20px;
    min-width: 20px;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
}

#titulo_comentarios
{
	width:250px;
}

#imc_mensual .comentarios
{
	width:250px;
	height:30px;
	padding:0px;
}

#imc_mensual .comentarios textarea
{
	width:250px;
	margin:0px;	
	border:none;
	resize:none;
}


/*===========*/

.textareaGrande
{
	height:80px !important;	
}


/*
#imc_mensual div
{
    margin:0;
    padding:0;
}
*/

#ayuda_proyectos
{
	width:90%;
	height:50px;
	margin:0 auto;
	display:inline-block;
}



/*
.contenedor_ayuda
{
	font-size:16px;
	line-height:30px;
	font-weight:bold;
	width:32%;
	height:30px;
	margin:0px;
	min-width:30px;
	border:solid 1px red;
	display:inline-block;
	padding-left:40px;
	
}
*/


.contenedor_ayuda
{
	display:inline-block;
	width:30%;
	margin:0 0;
	height:100%;
	position:relative;
	min-width:120px;
	
}

.contenedor_ayuda img
{
	border-radius:12px;
	display:inline-block;
	width: 10%;	
    height: auto;
    margin: 0;
    padding:0;	
    position:absolute;
    bottom:0;
    left:0;
}

.contenedor_ayuda p
{		
	display:inline-block;
	font-size:100%;
	line-height:16px;
	font-weight:bold;
    width: 90%;
    height: auto;
    margin: 0;
    padding:0;
    padding-left:10px;
    position:absolute;
    bottom:0;
    right:0;
		
}
/*SELECCIONA LA IMAGEN QUE SEA HIJO DIRECTO DE INTERNO*/
.interno>img
{
	background-color:rgb(200,230,230);
}

.externo>img
{
	background-color:lightblue;
}

.especial>img
{
	background-color:rgb(28,170,216);
}

/*
.muestra_color
{
	height: 30px; can be anything
    width: 30px; can be anything
    position: relative;
    margin:0;
    display:block;
}



.muestra_color img
{
	max-height: 75%;  
    max-width: 75%; 
    width: auto;
    height: auto;
    position: absolute;  
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
}

*/

#imc_mensual #inferior
{
    margin:20px auto;
}

#imc_mensual #id_horas
{
    width: 30px;
}

#imc_mensual .input_horas
{
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
    border: none;
    text-align: center; 
    font-size:100%;
}

#imc_mensual .total_horas_imc
{
	cursor:default;
}

.eliminar_fila
{
	width:15px;
}



/*TRAMPA PARA HACER BORDER TRANSPARENTE PORQUE NO SE QUITABA*/

#imc_mensual .borde_invisible
{
	border:1px rgba(0,0,0,0) solid;
}

#imc_mensual .no_fondo
{
	background-color:"#FFF";
}

#imc_mensual .festivo 
{
	background-color:#999 !important;
}

#imc_mensual .especial .input_horas
{
	background-color:rgb(28,170,216);
}

#imc_mensual .especial .color_proy
{
	background-color:rgb(28,170,216);
}
#imc_mensual .especial .celda-color
{
	background-color: rgb(28,170,216);
}

#imc_mensual .interno .input_horas
{
	background-color: rgb(200,230,230);
}

#imc_mensual .interno .color_proy
{
	background-color: rgb(200,230,230);
}

#imc_mensual .interno .celda-color
{
	background-color: rgb(200,230,230);
}



#imc_mensual .externo .input_horas
{
	background-color:lightblue;
}

#imc_mensual .externo .color_proy
{
	background-color:lightblue;
}

#imc_mensual .externo .celda-color
{
	background-color:lightblue;
}





/*QUITAR ESTILO BORDES TABLA ARRIBA,ABAJO,IZQUIERDA,DERECHA*/

#tabla_imc th
{
	border-top:none;
	background: RGB(35,200,200);
	cursor:default;
	font-size:100%;
}

#tabla_imc td
{
	font-size:100%;
}

#tabla_imc tr:last-child td
{
	border-bottom:none;
	background: RGB(35,200,200);
	cursor:default;
}

#tabla_imc tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

#tabla_imc tr td:first-child
{
	border-left:none;
	cursor:default;	
	padding:10px;
}

#tabla_imc tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

#tabla_imc tr td:last-child
{
	border-right:none;	
}

#tabla_imc .fila-datos td:nth-last-child(2)
{
	background-color:#FFF;
}

#tabla_imc tr td:last-child-1
{
	border-right:none;	
}

#tabla_imc tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

#tabla_imc tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}

#tabla_imc .comentarios
{
	border-right:none;
	padding:0;
}


/*
	========ESTILO TABLA TOTALES
*/

#totales_imc
{
	margin-top:20px;
	float:right;
}

#totales_imc table
{
    border-collapse: collapse;
}
#totales_imc td,th
{
    width: 120px;
    height:25px;
    min-width: 20px;
    max-width: 120px;
    overflow:hidden;
    padding: 0px;
    margin:0px;
    text-align: center;
    border-collapse: collapse;
	border:solid 1px #AAA;
    vertical-align:middle;
    
}

#totales_imc th
{
	border-top:none;
	background: RGB(35,200,200);
	cursor:default;
}

#totales_imc tr:last-child td
{
	border-bottom:none;
	background: #EFEFEF;
	cursor:default;
}

#totales_imc tr th:first-child
{
	border-left:none;
	border-radius:5px 0 0 0;
}

#totales_imc tr td:first-child
{
	border-left:none;
	cursor:default;	
}

#totales_imc tr th:last-child
{
	border-right:none;	
	border-radius:0 5px 0 0;
}

#totales_imc tr td:last-child
{
	border-right:none;	
}



#totales_imc tr td:last-child-1
{
	border-right:none;	
}

#totales_imc tr:last-child td:last-child
{
	border-radius:0 0 5px 0;	
}

#totales_imc tr:last-child td:first-child
{
	border-radius:0 0 0 5px ;	
}
