/*
=========CSS PARA LA PANTALLA WELCOMEY GENERAL===========

*/

/*
	========CONTENEDOR GRANDE===========
*/
#contenedor-menu{
	padding:2%;
    width: 90%;
    margin:0% auto;
    background: RGB(219,219,231);
   
    
}

/*
	========CONTENEDOR INFERIOR===========
*/

#contenedor-submenu h2{
	margin:15px;
}

#contenedor-submenu{
    width: 97%;
    margin:3% auto 1% auto;
    border-radius: 10px;
    border:5px solid rgb(35,35,35);
}

/*
	========CONTENEDOR INFERIOR/OPCIONES===========
*/

#contenedor-opciones
{
	min-height:150px;
	width: 97%;
    margin:1% auto 1% auto;
    background: #22C5B1;
    
    /*background: RGB(35,200,200);*/
    border:2px solid rgb(35,35,35);
	
}

/*
	========CONTENEDOR SUPERIOR===========
*/

#menu_superior_izquierda
{
	display:inline-block;
	width:100%;
	height:auto;
	margin:0 auto;
	position:relative;
	/*border:solid green 1px;*/
}

/*
	========DIV BOTON SLIDER===========
*/

#boton_menu
{
	width:15%;
	display:inline-block;
	margin-left:2%;
}

.push
{
	float:left;
}

/*
	========DIV USUARIO ACTIVO===========
*/

#caja_usuario_activo
{
	width:75%;
	display:inline-block;
	position:absolute;
	right:0px;
	/*border:solid blue 1px;*/
}

#usuario_activo_texto
{
	width:35%;	
	font-size:120%;
}

#usuarioActivo
{
	font-size:100%;
	vertical-align: middle;
	width:12%;
 	min-width:75px;
 	font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
}
#usuarioActivoNombre
{
	font-size:100%;
	vertical-align: middle;
	width:20%;
 	min-width:150px;
	disable:true;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance: none;
}

#cambiarPassword
{
	position:absolute;
	right:3%;
	margin-left:20px;
	width:30%;
	height:120%;
}

@media (max-width: 800px) {
    #cambiarPassword { width:35%;
    				   right:5%;
    				 }
}

@media (max-width: 750px) {
    #cambiarPassword { width:40%;}
    #caja_usuario_activo{right:-5%}
}

@media (max-width: 500px) {
    #cambiarPassword { display:none !important;}
    #caja_usuario_activo{right:-5%}
}

/*
	========DIV CONTENEDOR OPCIONES===========
*/

#contenedor-opciones
{
	width:97%;
	padding:20px 0;
}

.columna-menu
{
	width:30%;
	margin:1%;
	display:inline-block;
	min-width:160px;
}
.opcion-columna
{
	display:inline-block;
	max-height:80px;
	cursor:pointer;
	width:100%;
	margin:0 auto;
	min-width:200px;
}

.imagen-opcion
{
	width:15%;
	height:auto;
	display:inline-block;
}

.nombre-opcion
{
	width:80%;
	font-size:150%;
	vertical-align:text-top;
	font-weight:bold;
	display:inline-block;
}


/*  
    ESTILOS PARA SLIDER
    ====================
*/



.pushmenu { /*this is the nav*/
  background: #3c3933;
  font-family: Arial, Helvetics, sans-serif;
  width: 240px;
  height: 100%;
  top: 0;
  z-index: 1000;
  position:fixed;
}

.pushmenu h3 {
  color: #cbbfad;
  font-size: 90%;
  font-weight: bold;
  padding: 15px 20px;
  margin: 0;
  background: #282522;    
  height: 16px;
}

.pushmenu a {
  display: block; /* drops the nav vertically*/
  color: #fff;
  font-size: 100%;
  font-weight: bold;
  text-decoration: none;
  border-top: 1px solid #56544e;
  border-bottom: 1px solid #312e2a;
  padding: 14px;
}

.pushmenu a:hover {
  background:#00A287;
}

.pushmenu a:active {
  background: #454f5c;
  color: #fff;
}

.pushmenu-left {
  left: -240px;

}

.pushmenu-left.pushmenu-open {
  left: 0;
}

.pushmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.pushmenu-push-toright {
  left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;  
}

#nav_list {
  background: url(https://assets/img/cross.png) no-repeat left top;
  cursor: pointer;
  
  width: 15%;
  height: 150%;
  text-indent: -99999em;
  color:black;
}

nav-list.active {
  background-position: -33px top;
}

#texto_menu
{
	width:80%;
	font-size:140%;
	font-weight:bold;
	margin-left:2em;
}

 .buttonset {
 	  width:30%;
      height: 16px;
      padding: 00px;
      margin:0px;
      display:inline-block;
 }
 
 #parrafo_usuario_activo
 {
 	display:block;
 	width:25%;
 	margin:0;
 }
 
 #usuario_activo
 {
 	display:block;
 	width:15%;
 }
 
 section.content {
   font-family: Arial, Helvetica, sans-serif;
   padding: 10px 20px;
 }